<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>976548096870-cch461jgleg6ck2mrlcgckn6dnod0la4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.976548096870-cch461jgleg6ck2mrlcgckn6dnod0la4</string>
	<key>API_KEY</key>
	<string>AIzaSyBqgEQjZud1xOVmZxczPqkqSgBlZlB8iCA</string>
	<key>GCM_SENDER_ID</key>
	<string>976548096870</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.happyo</string>
	<key>PROJECT_ID</key>
	<string>happyo-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>happyo-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:976548096870:ios:8dbe67d0b32de67e8536a7</string>
</dict>
</plist>